---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import BriefcaseIcon from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout
  title="Alex Pereyra - Desarrollador Frontend"
  description="Soy un Desarrollador Frontend con más de un año de experiencia. Me especializo en crear aplicaciones únicas, rápidas y escalables."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/profile.webp"
        alt="alexpereyra foto"
      />
      <h1
      class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Alex Pereyra <a
          href="https://www.linkedin.com/in/alex-pereyra-dev/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
        <span class="text-yellow-800 dark:text-yellow-200">Desarrollador Frontend</span>
      </h2>
      <span class="text-red-800 dark:text-red-200"
        >Me especializo en crear aplicaciones únicas, rápidas y escalables.</span
      >

      <nav class="flex gap-x-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/alex-pereyra-dev/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Lexthus">
          <GitHubIcon class="size-4 md:size-6" />
          GithHub
        </SocialPill>
        <SocialPill href="mailto:Lexthus@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Lexthus@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
        <BriefcaseIcon class="size-7" /> Experiencia Laboral
      </h2>

      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
        <CodeIcon class="size-7" /> Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
