---
const personalImageAlt = "Alex Pereyra";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong class="text-yellow-400 font-semibold"
        >¡Hola, soy Alex Pereyra!</strong
      >
    </p>
    <p>
      Desarrollador frontend con <strong class="text-yellow-400 font-semibold"
        >más de 1 año de experiencia</strong
      > en aplicaciones web, especializado en <strong
        class="text-yellow-400 font-semibold">Next.js, Astro y React.</strong
      >
    </p>
    <p>
      He contribuido al éxito de diversos proyectos, de pequeños a grandes
      equipos. Exploro continuamente nuevas tecnologías para mejorar mis
      habilidades y aportar innovación.
    </p>
    <p>
      Apasionado por el desarrollo web, disfruto explorando las últimas
      tendencias y aplicándolas en proyectos personales. Si buscas un
      colaborador entusiasta y con experiencia, ¡contáctame!
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/profile.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
