---
import ProfileCheck from "./icons/ProfileCheck.astro";
---

<article
  class="relative border-l-4 border-yellow-400 pl-6 text-gray-700 dark:text-gray-300 leading-relaxed space-y-6 animate-fade-in bg-neutral-100 dark:bg-neutral-900 p-6 rounded-lg shadow-lg"
>
  <!-- Título con icono -->
  <h2
    class="flex items-center text-left mb-6 text-3xl font-semibold gap-x-4 text-gray-900 dark:text-white border-b-2 border-yellow-400 pb-2"
  >
    <ProfileCheck
      class="size-8 hover:scale-105 transition-transform duration-300"
    />
    Sobre mí
  </h2>

  <p class="text-lg md:text-xl">
    Soy un <strong class="text-yellow-400">Desarrollador Frontend</strong> con
    <strong class="text-yellow-400">más de 3 años de experiencia</strong> en la creación
    de interfaces modernas, accesibles y escalables. Me especializo en <strong
      class="text-yellow-400">Next.js, Astro y React</strong
    >, combinando rendimiento, usabilidad y diseño intuitivo para ofrecer
    experiencias digitales de alta calidad.
  </p>

  <p class="text-lg md:text-xl">
    He trabajado en <strong class="text-yellow-400"
      >soluciones digitales avanzadas</strong
    >, desde sitios web dinámicos hasta
    <strong class="text-yellow-400">sistemas integrales de gestión</strong> diseñados
    para optimizar procesos y mejorar la accesibilidad de la información. Mi enfoque
    se centra en construir aplicaciones bien estructuradas, eficientes y preparadas
    para escalar.
  </p>

  <p class="text-lg md:text-xl">
    Me apasiona la innovación en el desarrollo web. Siempre estoy explorando
    nuevas tecnologías y aplicando las mejores prácticas para ofrecer soluciones
    técnicas efectivas y sostenibles.
  </p>

  <p class="text-lg md:text-xl">
    Si buscas un colaborador con un enfoque técnico sólido y una visión
    estratégica del desarrollo frontend, estaré encantado de conectar.
  </p>
</article>
