<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
  <p>
    <strong class="text-yellow-400 font-semibold">¡Hola, soy Alex Pereyra!</strong>
  </p>
  <p>
    Desarrollador frontend con <strong class="text-yellow-400 font-semibold">más de 1 año de experiencia</strong> en aplicaciones web, especializado en <strong class="text-yellow-400 font-semibold">Next.js, Astro y React.</strong>
  </p>
  <p>
    He contribuido al éxito de diversos proyectos, de pequeños a grandes equipos. Exploro continuamente nuevas tecnologías para mejorar mis habilidades y aportar innovación.
  </p>
  <p>
    Apasionado por el desarrollo web, disfruto explorando las últimas tendencias y aplicándolas en proyectos personales. Si buscas un colaborador entusiasta y con experiencia, ¡contáctame!
  </p>
  </div>
  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" />
</section>