---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2023 - Presente",
    title: "Desarrollador Frontend",
    company: "Municipalidad de Mercedes Bs. As.",
    description:
      "Desarrollo de aplicaciones web para la gestión de la municipalidad y sus dependencias.",
  },
  {
    date: "2022 - Presente",
    title: "Desarrollador Frontend - Freelance",
    company: "",
    description:
      "Desarrollo de aplicaciones web para clientes de distintos rubros.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
