---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Frontend Developer",
    company: "Municipalidad de Mercedes Bs. As.",
    description:
      "Desarrollo de aplicaciones web para la gestión de la municipalidad y sus dependencias.",
  },
  {
    date: "2022 - Presente",
    title: "Frontend Developer",
    company: "Freelance",
    description:
      "Desarrollo de aplicaciones web para clientes de distintos rubros. Utilizando tecnologías como React, Next.js, TailwindCSS, entre otras.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
